/server/.lein-repl-history
/server/target
/plugin/build
/plugin/target
/server/pom.xml
/server/src/protege/temp.clj
/server/test/nrepl_clojure/core_test.clj
/plugin/build.properties
/plugin/lib/-server.jar
/plugin/src/.svn/all-wcprops
/plugin/src/.svn/entries
/server/.lein-failures
/server/pom.xml.asc
/.idea/
/plugin/protege-nrepl.iml
/server/.clj-kondo/
