<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

    <extension id="menu.topNrepl"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Knowtator"/>
        <toolTip value=""/>
        <path value="/SlotH-A"/>
        <editorKitId value="any"/>
    </extension>

    <extension id="menu.startNrepl"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Start"/>
        <toolTip value="Start an nREPL server"/>
        <class value="ucdenver.ccp.knowtator.protege.NreplMenu"/>
        <path value="knowtator.protege.menu.topNrepl/SlotCR-A"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

</plugin>