<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

    <extension id="menu.topNREPL"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="NREPL"/>
        <toolTip value=""/>
        <path value="/SlotH-A"/>
        <editorKitId value="any"/>
    </extension>

<!--    <extension id="menu.startNREPL"-->
<!--               point="org.protege.editor.core.application.EditorKitMenuAction">-->
<!--        <name value="Start"/>-->
<!--        <toolTip value="Start an NREPL"/>-->
<!--        <class value="ucdenver.ccp.protege.nrepl.NreplMenu"/>-->
<!--        <path value="ucdenver.ccp.protege.menu.topNREPL/SlotCR-A"/>-->
<!--        <editorKitId value="OWLEditorKit"/>-->
<!--    </extension>-->

</plugin>
